.navbarContainer {
  height: 60px;
  ul {
    margin-top:0;
    background-color: #373737;
    display: flex;
    height: 100%;
    li {
      margin: auto;
      list-style: none;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;
    }
    .activeClass {
      background-color: #8dc63f;
      color: #fcfcfc;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
